body{
    background-image: url(fondo.png);
}
.contenedorPP
{
    width: 1200px;
    height: 600px;
    max-height: 1200px;
}
.contenedorPB
{
    width: 250px;
    height: 360px;
    display: inline-block;
    margin: 30px;
    padding: 50px;
    border: 1px;
    background-color: rgba(0, 0, 0, 0.600);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.836);
    border-radius: 10px;
}

div > p
{
    color: #ffff;
}

.C-img
{
    width: 250px;
    height: 250px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.836);
    border-radius: 10px;
}